.file-container {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 400px;
  position: relative;
}

.overlapped {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  opacity: 0.01;
  height: 1px;
  width: 1px;
  z-index: 0;
}

.overlap {
  display: block;
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
  border-radius: 15px;
  text-align: center;
  font-size: 24px;
  background-color: wheat;
  z-index: 1;
}

.previews {
  margin-left: auto;
  margin-right: auto;
  max-width: 860px;
  display: flex;
  flex-wrap: wrap;
}
.preview-container{
  position: relative;
}
.preview {
  max-width: 200px;
  width: 100%;
  margin-right: 10px;
  margin-bottom: 10px;
}
.preview:nth-child(4n+4){
  margin-right: 0px;
}
.delete-button{
  position: absolute;
  right: 0;
  top: -6px;
  border: 1px solid black;
  background-color: #fff;
  opacity: 0.4;
  padding: 3px 7px;
  box-sizing: border-box;
  border-radius: 100px;
}